<nav class="navbar navbar-expand-lg bg-light">
  
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RECAP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            
          </li>
          <li class="nav-item dropdown">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <form class="d-flex" role="search">
          <nav class="navbar bg-light">
            <form class="container-fluid justify-content-start">
              <button class="btn btn-outline-success me-2" type="button">Giriş Yap</button>
              <button class="btn btn-outline-success me-2" type="button">Kaydol</button>
            </form>
          </nav>
        </form>
      </div>
    </div>
  </nav>
