<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    
    <div *ngIf="cardetail?.imagePath?.length === 0" class="carousel-item active" [class.active]="true">   
      <img
        src="https://localhost:44304{{defaultImage}}" 
        class="d-block w-100"
        alt="ImagePath"
      />
    </div>
    
    <div  class="carousel-item active" *ngFor="let image of cardetail?.imagePath; first as isFirst;" [class.active]="isFirst">
      <img
        src="https://localhost:44304{{image}}" 
        class="d-block w-100"
        alt="ImagePath"
      />
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <ul *ngIf="cardetail" class="list-group list-group-flush">
    <li class="list-group-item">Brand Name:{{ cardetail.brandName }}</li>
    <li class="list-group-item">Color Name:{{ cardetail.colorName }}</li>
    <li class="list-group-item">Daily Price:{{ cardetail.dailyPrice }}</li>
    <li class="list-group-item">Description:{{ cardetail.carName }}</li>
  </ul>
</div>