

<br>
<div class="content">
  <form class="d-flex md-auto">
    <input style="width: 91%;" class="form-control me-2"id="filterCar"  type="text" placeholder="model giriniz"
      aria-label="Search All" [(ngModel)]="filterCar" [ngModelOptions]="{ standalone: true }" />
  </form>
</div>

<br>
<div class="row mb-3">
  <div class="col-md-3">
    <H5>MARKA</H5>
      <select [(ngModel)]="brandFilter" class="form-select" aria-label="Default select example" >
      <option *ngFor="let brand of brands" [value]="brand.brandId" [selected]="getSelectedBrand(brand.brandId)">{{brand.name}}</option>

      </select>
  </div>
 
  <div class="col-md-3">
    <h5>RENK</h5>
    <select  [(ngModel)]="filterColor" class="form-select" aria-label="Default select example">
      <option *ngFor="let color of colors" [value]="color.colorId" [selected]="getSelectedColor(color.colorId)">{{color.name}}</option>
    </select>
    <br>
  </div>


  <div class="col-md-3">
    <br>
    <button routerLink="/cars/color/{{filterColor}}/brand/{{brandFilter}}" class="btn btn-primary" type="button"  >Filtrele</button>
    </div>
  
  </div>


<div class="card" style="width: 18rem; float:left; margin-right: 10px;" *ngFor="let carDetail of carDetails">
  <img *ngIf="carDetail.imagePath" src="{{carDetail.imagePath}}" class="card-img-top carimg" alt="...">
  <img *ngIf="!carDetail.imagePath" src="assets/default_image.png" class="card-img-top carimg" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{carDetail.carName |uppercase }}</h5>
    <p class="card-text">
      <b>Model Yılı : </b>{{carDetail.modelYear}}<br/>
      <b>Renk : </b> {{carDetail.colorName }}<br/>
      <b>Günlük Ücret : </b> {{carDetail.dailyPrice | currency}}<br/>
    </p>
    <a href="#" class="btn btn-outline-danger">Detaylar</a>
  </div>
</div>